node_modules
**/node_modules
.git
.local
.canvas
.env
*.log
*.md
!package.json

artifacts/mobile/android
artifacts/mobile/ios
artifacts/mobile/.expo
artifacts/mobile/dist
artifacts/mobile/static-build
artifacts/mobile/app
artifacts/mobile/assets
artifacts/mobile/components
artifacts/mobile/constants
artifacts/mobile/hooks
artifacts/mobile/scripts

artifacts/web-dashboard/dist
artifacts/mockup-sandbox/src
artifacts/mockup-sandbox/public

deploy/
screenshots/
.replit
replit.nix
