DB_PASSWORD=your_strong_database_password
JWT_SECRET=generate_with_openssl_rand_hex_32
MAGENTO_API_URL=https://www.lovefurniture.ie/rest/V1
MAGENTO_API_TOKEN=your_magento_integration_token
MAGENTO_ADMIN_USER=your_magento_admin_username
MAGENTO_ADMIN_PASS=your_magento_admin_password
